:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

html {
  --text-color-primary: #333;
  --text-color-secondary: #999;
  --text-color-accent: #373fff;
  
  --background-color: #fff;
  --background-color-secondary: #eee;
}

html[data-theme='dark'] {
  --text-color-primary: #eee;
  --text-color-secondary: #999;
  --text-color-accent: #FF3333;
  
  --background-color: #333;
  --background-color-secondary: #666;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html {
  font-size: 100%;
  transition: font-size 200ms ease;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 150%;
  }
}
@media only screen and (min-width: 680px) {
  html {
    font-size: 200%;
  }
}

body {
  font-family: helvetica, arial, sans-serif;
  line-height: var(--ratio);
  padding: var(--s1);
  background-color: var(--background-color)
}

header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #aaa;
  margin-bottom: var(--s1);
}

select {
  max-width: 75vw;
  padding: 0.25em 0.25em 0.25em 0;
  padding-bottom: 0.25em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  border-radius: 0;
  font-weight: bold;
  color: var(--text-color-primary);
  background-color: var(--background-color);
}
select:focus, select:active {
  outline: 0;
}

a, a:visited {
  color: var(--text-color-secondary);
  transition: color 200ms ease;
}
a:hover {
  color: var(--text-color-primary);
}

.trains > * + * {
  margin-top: var(--s1);
}

.departure {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color-accent);
}
.departure + .departure::before {
  content: ', ';
}

.destination {
  margin-left: 1.5em;
  color: var(--text-color-primary);
}
.destination__color {
  position: absolute;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  margin-left: -1.5em;
  border-radius: 0.25em;
  background-color: var(--background-color-secondary);
}

.direction-s {
  transform: rotate(180deg);
}

.button__icon {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: currentcolor;
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin-left: 0.25em;
  transition: transform 300ms ease-in-out;
}
.button__icon:hover {
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  color: var(--text-color-secondary);
  padding: var(--s0) var(--s1);
}
